body {
    background-color: grey;
    color: white;
}

img {
    width: 100%;
}
.profile-container{
    display: flex;
    gap: 2rem;
}
.profile-image {
    display: flex;
    gap: 2rem;
}
.profile-description{
    float: left;
    gap: 2rem;
}